@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/masking-renta");
@import url("https://googleapis.com");
@import "tailwindcss";

@theme {
  --color-primary: #ca2f06;
  --color-cream: #f8f1e8;
  --color-text: #111111;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
